@import "style/_variables.scss";

@each $name, $value in $textSizes {
  .text-#{$name} {
    font-size: #{$value}rem;
  }
}

@each $name, $value in $colors {
  .text-#{$name} {
    color: var(--color-#{$name});
  }
}

.text-title {
  text-transform: lowercase;
  &:before {
    content: "// ";
    color: var(--color-gray-light);
  }
  &:after {
    content: "";
    color: var(--color-gray-light);
  }
}

.text-upper {
  text-transform: uppercase;
}

.text-light {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-block {
  display: block;
}
